.pantrySection__container {
    min-height: 100vh;
    background: var(--color-dark-bg);
    color: var(--color-main-text);
    padding-bottom: 90px;
}

.pantrySection__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.pantrySection__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-text);
    text-align: center;
    pointer-events: none;
}

.pantryItemSection__bulkActionsTrack{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin: 15px 10px 15px 10px;
}

.pantryItemSection__bulkActionBtn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 22px;
  border-radius: 14px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-dark-bg);
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}

.pantryItemSection__bulkActionText{
  color: var(--color-main-text);  
}

.pantryItemSection__bulkActionIcon{
  width: 22px;
  height: 22px;
  color: var(--color-main-text);  
}

.pantryItemSection__bulkActionDeleteBtn:hover{
  background: var(--color-red);
  border-color: var(--color-red);
  color: var(--color-dark-text);
  transition: background 270ms ease,
              border-color 270ms ease,
              color 300ms ease;
}

.pantryItemSection__bulkActionBtn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.pantrySection__back,
.pantrySection__spacer {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    color: var(--color-main-text)
}

.pantrySection__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 16px;
    max-width: 430px;
    margin: 0 auto;
    justify-items: center;
}

@media (max-width: 600px) {
  .pantryItemSection__bulkActionsTrack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .pantryItemSection__bulkActionBtn{
    width: 100%;
    min-height: 44px;   
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 14px;
  }

  .pantryItemSection__bulkActionIcon{
    width: 16px;
    height: 16px;
  }
}
