.pantry__container {
    width: 100%;
    padding-bottom: 90px;
}

.pantry__content {
    padding: 16px;
}

.pantry__section {
    margin-bottom: 28px;
}

.pantry__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pantry__items {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 8px;
}

.pantry__card {
    width: 140px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 12px;
    flex-shrink: 0;
}

.pantry__image__Container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.pantry__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pantry__info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pantry__name {
    font-size: 14px;
    font-weight: 600;
}

.pantry__qty {
    color: #808080;
    font-size: 14px;
}

/* 📱 Small screens (mobile) */
@media (min-width: 600px) {
  .pantry__items {
    gap: 16px;
  }

  .pantry__card {
    width: 160px;
    padding: 14px;
  }

  .pantry__image__Container {
    height: 170px;
  }

  .pantry__name {
    font-size: 15px;
  }

  .pantry__qty {
    font-size: 15px;
  }
}
/* 💻 Medium screens (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
  .pantry__items {
    gap: 25px;
  }

  .pantry__card {
    width: 180px;
    padding: 16px;
  }

  .pantry__image__Container {
    height: 190px;
  }

  .pantry__name {
    font-size: 16px;
  }

  .pantry__qty {
    font-size: 16px;
  }
}