@import "@/styles/variable.css";

.pantryRecipes__container {
    min-height: 100vh;
    background: var(--color-dark-bg);
    padding-bottom: 40px;
}

.pantryRecipes__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.pantryRecipes__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-light);
    text-align: center;
    pointer-events: none;
    /* prevents overlap issues */
}

.backBtn,
.filterIcon {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    color: var(--color-light)
}

.pantryRecipes__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 16px;
}