@import "@/styles/variable.css";

.dashboard__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 90px;
  background-color: var(--color-bg);
  font-family: "Poppins", "Segoe UI", sans-serif;
}

.dashboard__searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 16px;
}