ASPRISE_API_URL=
ASPRISE_CLIENT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_REVOKE_TOKEN_URI=https://oauth2.googleapis.com/revoke

# Database Configuration
# IMPORTANT: Use host.docker.internal instead of localhost when running in Docker
# TODO: Replace DB_HOST with localhost when you setup database as container
DB_USER=root
DB_PASSWORD=
DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=stockd_db

HOST_IP=
ENV=dev

GOOGLE_CLOCK_SKEW=300

# AI Model URLs (use service names when running in Docker)
FOOD_CLASSIFIER_MODEL_URL=http://food-classifier:9002
RECIPE_RECOMMENDER_MODEL_URL=http://recipe-recommender:9001