ASPRISE_API_URL=
ASPRISE_CLIENT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TOKEN_URI=
GOOGLE_REVOKE_TOKEN_URI=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

HOST_IP=
ENV=dev

GOOGLE_CLOCK_SKEW=300
AI_MODEL_URL=