:root {
    /* Default = Dark Mode */
    --color-primary: #FF6857;
    --color-secondary: #b5e3d9;
    --color-tertiary: #ababab;

    --color-light-blue: #dcefea;
    --color-deep-blue: #3E5481;
    --color-dark-blue: #005a4c;

    --color-dark-bg: #242020;
    --color-grey: #e0e0e0;
    --color-red: #ff5a5f;
    --color-light-red: #ffeaea;
    --color-green: #4caf50;

    --color-dark-text: #312b2b;
    --color-main-text: #ffffff;
    --color-grey-text: #d8d8d8;
    --color-light: #f1f3f4;
    --color-light-recipe: #f1f3f4;
}

body[data-theme="light"] {
    --color-dark-bg: #F7F7F7;
    --color-dark-text: #000000;
    --color-main-text: #000000;
    --color-grey-text: #272727;
}