:root {
    --color-primary: #FF6857;
    --color-secondary: #b5e3d9;
    --color-tertiary: #ababab;
    --color-cyan: #3cb98c;
    --color-light-blue: #dcefea;
    --color-deep-blue: #3E5481;
    --color-dark-blue: #005a4c;
    --color-white: #ffffff;
    --color-dark-bg: #242020;
    --color-light: #f1f3f4;
    --color-grey: #e0e0e0;
    --color-dark-grey: #d8d8d8;
    --color-dark: #645d5d;
    --color-red: #ff5a5f;
    --color-light-red: #ffeaea;
    --color-green: #4caf50;
    --color-light-red: #fff1f1;
    --color-dark-red: #FF5A60;
}