@import "@/styles/variable.css";

.searchbar__container {
    /* width: 100%; */
    padding: 16px;
    display: flex;
    justify-content: center; 
}

.searchbar__input {
    width: 100%;
    max-width: 600px;       
    padding: 14px 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    outline: none;
}

/* small screens (mobile) */
@media (min-width: 600px) {
    .searchbar__container {
        padding: 16px 24px;
    }

    .searchbar__input {
        padding: 16px 20px;
        font-size: 17px;
        max-width: 700px;
    }
}

/*medium screens (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .searchbar__container {
        padding: 24px 32px;
    }

    .searchbar__input {
        max-width: 800px;   
        padding: 18px 22px;
        font-size: 18px;
    }
}
