@import "@/styles/variable.css";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Container for the entire landing page */
.landingPage__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--color-bg);
  color: var(--color-dark-text);
  font-family: 'Righteous', cursive;
  text-align: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

/* Content above background */
.landingPage__content {
  z-index: 2;
  text-align: center;
  padding-top: 3em;
}

/* Background images */
.bg-top-left,
.bg-top-right,
.bg-bottom-left,
.bg-bottom-right {
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}

/* Corners */
.bg-top-left {
  top: -38px;
  left: -20px;
  width: 180px;
}

.bg-top-right {
  top: 0;
  right: -60px;
  width: 220px;
}

.bg-bottom-left {
  bottom: 0;
  left: 0;
  width: 180px;
}

.bg-bottom-right {
  bottom: 0;
  right: -50px;
  width: 300px;
}


/* Stockd Title */
.landingPage__header {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1rem;
  margin-top: 2.5%;
}

/* Subtitle */
.landingPage__text {
  font-size: 1.2rem;
  color: var(--color-tertiary);
  margin-bottom: 1.5rem;
}

/* Text container to manage width */
.landingPage__text-container {
  width: 28dvh;
}

/*Small screens (mobile) */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}

/*Medium screens (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  button {
    padding: 12px 24px;
  }
}