@import "@/styles/variable.css";

/* Container for the entire landing page */
.landingPage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #ffffff;
  color: #333;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Stockd Title */
.landingPage__header{
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1rem;
  margin-top: 2.5%;
}

/* Subtitle */
.landingPage__text {
  font-size: 1.2rem;
  color: var(--color-secondary);
  margin-bottom: 1.5rem;
}

/* Text container to manage width */
.landingPage__text-container {
  width: 24dvh;
}

/* 📱 Small screens (mobile) */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    width: 80%;
    padding: 12px;
  }
}

/* 💻 Medium screens (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  button {
    padding: 12px 24px;
  }
}
