@import "@/styles/variable.css";

.filterchip {
    padding: 8px 14px;
    border-radius: 999px;
    border: none;
    background: var(--color-light-grey);
    font-size: 13px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.filterchip.active {
    background: var(--color-primary);
    color: white;
}