ai_env/
.env
.ai_env/
__pycache__/
*.pyc
*.parquet
recipe_model.pkl
*.DS_Store
zero_shot_food_classifier
recipe_assets.pkl
recipe_index.faiss
/cache/
sentence-transformers/
venv/
.env/
.DS_Store
Thumbs.db
.vscode/
.idea/